@model INYTWebsite.CustomModels.BookingModel

@{
    ViewData["Title"] = "BookStep1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string classname = string.Empty;
}

<div class="container">
    <div class="row">
        <!--Form Part-->
        <div class="col-12">

            <!--Booking Information-->
            <div class="card ">
                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                <div class="card-body">
                    <h2>Booking Calendar</h2>
                    <p>Please select when you would require this service</p>
                    <br />
                    <p><strong>Service Provider:</strong>@Model.serviceProvider.firstName @Model.serviceProvider.lastName</p>
                    <p><strong>Service requested:</strong>@Model.serviceName</p>

                </div>
            </div>
            <div class="row">
            </div>

            <form id="regForm" asp-controller="BookService" asp-action="BookStep2" method="post">

                <!-- Schedule Widget -->
                <div class="card booking-schedule schedule-widget">

                    <!-- Schedule Header -->
                    <div class="schedule-header">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Day Slot -->
                                <div class="day-slot">
                                    <ul>
                                        <li class="left-arrow">
                                            <a id="prevDates">
                                                <i class="fa fa-chevron-left"></i>
                                            </a>
                                        </li>
                                        @foreach (var weekday in Model.calendar)
                                        {
                                            <li>
                                                <span>@weekday.weekname</span>
                                                <span class="slot-date">@weekday.weekdate.ToShortDateString() <small class="slot-year">@weekday.weekdate.Year</small></span>
                                            </li>
                                        }
                                        <li class="right-arrow">
                                            <a href="">
                                                <i class="fa fa-chevron-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Day Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Header -->
                    <!-- Schedule Content -->
                    <div class="schedule-cont">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Time Slot -->
                                <div class="time-slot">
                                    <ul class="clearfix">
                                        @foreach (var timing in Model.availabilityDates)
                                        {
                                            var timeid = timing.availabilityDate.TimeOfDay.ToString().Replace(':', '-');
                                            var dayid = timing.availabilityDate.DayOfWeek;
                                            var dateid = timing.availabilityDate.Day + "-" + timing.availabilityDate.Month + "-" + timing.availabilityDate.Year;
                                            var id = String.Format("{0:n0}", timing.minRate) + "_" + dateid + "_" + timeid + "_" + dayid;
                                            var minHours = timing.minHours;
                                            if (timing.availability == "Available")
                                            {
                                                classname = "timing available";
                                            }
                                            else
                                            {
                                                classname = "timing unavailable";
                                            }
                                            var endtime = timing.endTime.TimeOfDay;
                                            var starttime = timing.startTime;
                                            var i = 0;
                                            <li>
                                                @while (timing.availabilityDate.TimeOfDay < endtime)
                                                {
                                                    var finishtime = starttime.AddHours(minHours);
                                                    i++;
                                                    var newid = id + i;
                                                    <a class="@classname" id="link_@newid" href="javascript:changethis('@newid')">
                                                        <span>@starttime.ToShortTimeString() - @finishtime.ToShortTimeString()</span><br />
                                                        <span>£@String.Format("{0:n0}", timing.minRate)</span>
                                                    </a>
                                                    timing.availabilityDate = timing.availabilityDate.AddHours(minHours);
                                                    starttime = finishtime.AddMinutes(timing.breakTimeInMins);
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <!-- /Time Slot -->
                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Content -->

                    @Html.Hidden("selectedTimes")
                    @Html.HiddenFor(a => a.serviceProviderId)
                    @Html.HiddenFor(a => a.serviceId)

                    @Html.HiddenFor(a => a.customer.emailAddress)
                    @Html.HiddenFor(a => a.customer.addressLine1)
                    @Html.HiddenFor(a => a.customer.addressLine2)
                    @Html.HiddenFor(a => a.customer.city)
                    @Html.HiddenFor(a => a.customer.contactNumber)
                    @Html.HiddenFor(a => a.customer.country)
                    @Html.HiddenFor(a => a.customer.firstName)
                    @Html.HiddenFor(a => a.customer.lastName)
                    @Html.HiddenFor(a => a.customer.postcode)

                    @Html.HiddenFor(a => a.additionalQuestionsList)

                </div>
                <!-- /Schedule Widget -->
                <div class="clearfix"></div>
                <hr />


                <p>By clicking the Book Now button you are agreeing to our Terms of Service and Privacy Policy.</p>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-primary btn-skin" name="submit" type="submit"> BOOK NOW</button>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function changethis(id) {

            if ($("#link_" + id).hasClass("available"))
                $("#link_" + id).removeClass("available").addClass("selected");

            var selectedtimes = $("#selectedTimes").val();
            selectedtimes = selectedtimes + "," + id;
            $("#selectedTimes").val(selectedtimes);

            //$('a[id^="link_"]').not("selected").removeClass("available").addClass("timing unavailable");

           
        }
    </script>
}