@model INYTWebsite.CustomModels.BookingsListModel

@{
    ViewData["Title"] = "ConfirmPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    double totalamount = 0;
    List<string> bookingids = new List<string>();

    foreach (var booking in Model.bookings)
    {
        totalamount = totalamount + booking.bookingAmount;
        bookingids.Add(booking.id.ToString());
    }
}

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form id="bookingForm" asp-controller="BookService" asp-action="CompleteBooking" method="post">
                            <div class="payment-widget">
                                <h4 class="card-title">Payment Method</h4>
                                <p>Enter your card information below. </p><br />
                                <strong>Please note. INeedYourTime will hold the charges and pay the service provider <u>after</u> the service has been rendered.</strong>
                                <!-- Paypal Payment -->
                                <div id="paypal-button-container"></div>
                                <!-- /Paypal Payment -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-lg-4 theiaStickySidebar">

                <!-- Booking Summary -->
                <div class="card booking-card">
                    <div class="card-header">
                        <h4 class="card-title">Booking Summary</h4>
                    </div>
                    <div class="card-body">

                        <!-- Booking Doctor Info -->
                        <div class="booking-doc-info">
                            <a href="doctor-profile.html" class="booking-doc-img">
                                <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a href="doctor-profile.html">@Model.serviceProvider.firstName @Model.serviceProvider.lastName</a></h4>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">35</span>
                                </div>
                                <div class="clinic-details">
                                    <p class="doc-location"><i class="fas fa-map-marker-alt"></i> @Model.serviceProvider.city, @Model.serviceProvider.country</p>
                                </div>
                            </div>
                        </div>
                        <!-- Booking Doctor Info -->
                        @{
                            double totalAmount = 0;
                        }

                        @foreach (var booking in Model.bookings)
                        {
                            totalAmount = totalAmount + booking.bookingAmount;
                            <div class="booking-summary">
                                <div class="booking-item-wrap">
                                    <ul class="booking-date">
                                        <li>Date <span>@booking.bookingDate.ToShortDateString()</span></li>
                                        <li>Time <span>@booking.bookingTime.ToShortTimeString()</span></li>
                                    </ul>
                                    <ul class="booking-fee">
                                        <li>Charge <span><strong>£@booking.bookingAmount</strong></span></li>
                                    </ul>
                                </div>
                            </div>

                        }
                        <div class="booking-total">
                            <ul class="booking-total-list">
                                <li>
                                    <span>Total</span>
                                    <span class="total-cost">£@totalAmount</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- /Booking Summary -->

            </div>
        </div>

    </div>
</div>
@section Scripts {

    <script src="https://www.paypal.com/sdk/js?client-id=AYVD_uPWS6woa_5TRSFol92tn9jamHQrho5YFJletAtGdg6T7tkpAr-7IDEcNanFOJ3mqFyvYDcMu6Ns&currency=GBP"></script>
    <script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '@totalamount',
                        currency_code: "GBP"
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                var id = details.id;
                if (id != "") {
                    alert("Transaction Successful....Press OK to continue");    
                    updateBooking(id);
                }

            });
        }
    }).render('#paypal-button-container');
    </script>

    <script>
        function updateBooking(id) {            
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/BookService/CompleteBooking?refid=" + id + "&customerid=" + @Model.bookings[0].customerId,
                success: function (response) {
                    if (response.result == 'Redirect') {
                        window.location = response.url;
                    }   
                }
            });
        }
    </script>
}


