@model INYTWebsite.Models.BookingModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Style the panel */
    #questionform {
        background-color: #ffffff;
        padding: 10px;
        width: 100%;
        height: 300px;
        overflow: auto;
    }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

    /* Mark the active step: */
    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #4CAF50;
    }

    label, input[type="radio"] {
        font-size: 12px;
        vertical-align: middle;
        margin-top: -1px;
    }

    label, input[type="checkbox"] {
        font-size: 12px;
        vertical-align: middle;
        margin-top: -1px;
    }
</style>

<!--Booking Information Start-->
<section id="contact_information">
    <div class="container">
        <div class="row">
            <!--Form Part-->
            <div class="col-md-12 col-sm-12 col-xs-12">

                <!--Booking Information-->
                <div class="contact_information_left ">

                    <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                    <div class="booking_form">
                        <div class="container-fluid">
                            <div class="row">
                                <form id="regForm" asp-controller="BookService" asp-action="BookStep1" method="post">
                                    <!-- Additional Questions -->
                                    <div id="questionform">
                                        <!-- Extra questions information-->
                                        @if (Model.questionsList.Count > 0)
                                        {
                                            <h2>Additional Questions</h2>
                                            <p>These are required to ensure your quote best reflects your need</p>

                                            @foreach (var question in Model.questionsList)
                                            {
                                            <div class="tab">
                                                <strong>@question.AdditionalQuestion:</strong><br /><br />
                                                @if (question.AnswerOptionType == "textarea")
                                                {
                                                    <p>
                                                        <textarea id="text_@question.Id"
                                                                  rows="4" cols="80"
                                                                  style="margin-bottom: 0px !important;"></textarea>
                                                    </p>
                                                }
                                                else if (question.AnswerOptionType == "radio")
                                                {
                                                    <div>
                                                        @foreach (var answer in question.AnswerOptions.Split(',').ToList())
                                                        {
                                                            <input type="radio"
                                                                   class="custom-control-input"
                                                                   id="text_@question.Id"
                                                                   name="text_@question.Id"
                                                                   value="@answer">
                                                            <label>@answer</label><br />
                                                        }
                                                    </div>
                                                }
                                                else if (question.AnswerOptionType == "checkbox")
                                                {
                                                    foreach (var answer in question.AnswerOptions.Split(',').ToList())
                                                    {
                                                        <input type="checkbox"
                                                               class="custom-control-input"
                                                               id="text_@question.Id"
                                                               name="text_@question.Id"
                                                               value="@answer">
                                                        <label>@answer</label><br />
                                                    }
                                                }
                                            </div>
                                            }
                                        }
                                    </div>
                                    <!-- Buttons to move along the form: -->
                                    <div style="text-align:center;margin-top:40px;">
                                        @foreach (var question in Model.questionsList)
                                        {
                                            <span class="step"></span>
                                        }
                                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                                    </div>

                                    <!-- Contact information-->
                                    <h2>Contact Information</h2>
                                    <p>This information will be used to contact you about your service</p>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="validation-error" asp-validation-for="customer.firstName"></span>
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input asp-for="customer.firstName" type="text" class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12 padding-r">
                                        <div class="input-group">
                                            <span class="validation-error" asp-validation-for="customer.lastName"></span>
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input asp-for="customer.lastName" type="text" class="form-control" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="validation-error" asp-validation-for="customer.emailAddress"></span>
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input asp-for="customer.emailAddress" type="text" class="form-control" placeholder="Email address">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12 padding-r">
                                        <div class="input-group">
                                            <span class="validation-error" asp-validation-for="customer.contactNumber"></span>
                                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                            <input asp-for="customer.contactNumber" type="text" class="form-control" placeholder="Contact number">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />

                                    <!--Service Address-->
                                    <h2>Service Address</h2>
                                    <p>Where would you like this service?</p>
                                    <div class="form-group col-md-8 col-sm-8 col-xs-12 ">
                                        <div class="input-group">
                                            <span class="validation-error" asp-validation-for="customer.addressLine1"></span>
                                            <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                            <input asp-for="customer.addressLine1" type="text" class="form-control" placeholder="Address First Line">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4 col-xs-12 padding-r">
                                        <div class="input-group">
                                            <span class="validation-error" asp-validation-for="customer.addressLine2"></span>
                                            <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                            <input asp-for="customer.addressLine2" type="text" class="form-control" placeholder="Address Second Line">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                        <div class="input-group">
                                            <span class="validation-error" asp-validation-for="customer.city"></span>
                                            <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                            <input asp-for="customer.city" type="text" class="form-control" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4 col-xs-12 padding-r">
                                        <div class="input-group">
                                            <span class="validation-error" asp-validation-for="customer.postcode"></span>
                                            <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                            <input asp-for="customer.postcode" type="text" class="form-control" placeholder="Postcode">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />

                                    <!--Select Date Time-->
                                    <h2>When would you like this service?</h2>
                                    <p></p>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input asp-for="bookingDate" type="text" class="form-control" />
                                            <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12 padding-r">
                                        <div class='input-group date' id='datetimepicker3'>
                                            <input asp-for="bookingTime" type="text" class="form-control" />
                                            <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />

                                    <!--BOOK NOW-->
                                    <p>By clicking the Book Now button you are agreeing to our <a href="~/terms">Terms of Service</a> and <a href="~/privacy">Privacy Policy</a></p>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <button class="btn btn-primary btn-skin" name="submit" type="submit">BOOK NOW</button>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Booking Information-->
            </div>
        </div>
    </div>
</section>
<!--Booking Information End-->

@section Scripts{
    <script>
        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab

        function showTab(n) {
            // This function will display the specified tab of the form ...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            // ... and fix the Previous/Next buttons:
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").style.display = "none";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
                document.getElementById("nextBtn").style.display = "";
            }
            // ... and run a function that displays the correct step indicator:
            fixStepIndicator(n)
        }

        function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:
            if (n == 1 && !validateForm()) return false;
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form... :
            if (currentTab >= x.length) {
                //...the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        function validateForm() {
            // This function deals with validation of the form fields
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                // If a field is empty...
                if (y[i].value == "") {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false:
                    valid = false;
                }
            }
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            //... and adds the "active" class to the current step:
            x[n].className += " active";
        }
    </script>
    
}

