@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@model INYTWebsite.CustomModels.ServiceProviderModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AppSettings = appSettings.Value;
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-3 theiaStickySidebar">

                <!-- Profile Sidebar -->
                @{
                    await Html.RenderPartialAsync("SPSideBar", Model);
                }
                <!-- /Profile Sidebar -->

            </div>

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card card-table">
                    <div class="card-body">

                        <!-- /Additional Questions Table -->
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Additional Question</th>
                                        <th>AnswerOptions</th>
                                        <th>AnswerOptionType</th>
                                        <th colspan="2">
                                            <a class="edit-link" data-toggle="modal"
                                               href="#add_time_slot"><i class="fa fa-plus-circle"></i>Add New Question</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var question in Model.additionalQuestions)
                                    {
                                    <tr>
                                        <td>@question.additionalQuestion</td>
                                        <td>@question.answerOptions</td>
                                        <td>@question.answerOptionType</td>
                                        <td>
                                            <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal" data-url="@Url.Action("EditQuestion", "ServiceProvider", new { id = question.id.ToString() })"><i class="fa fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal" data-url="@Url.Action("EditQuestion", "ServiceProvider", new { id = question.id.ToString() })"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /Additional Questions Table -->

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>

<!-- Add Question Modal -->
<div class="modal fade custom-modal" id="add_time_slot">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="addquestion" asp-controller="serviceprovider" method="post">
                    <div class="hours-info">
                        <div class="row form-row hours-cont">
                            <div class="col-12 col-md-10">
                                <div class="row form-row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Additional Question</label>
                                            <input asp-for="additionalQuestion.additionalQuestion" class="form-control" placeholder="Additional Question" />
                                        </div>
                                        <div class="form-group">
                                            <label>Answer Options (separate by comma)</label>
                                            <input asp-for="additionalQuestion.answerOptions" class="form-control" placeholder="Answer options" />
                                        </div>
                                        <div class="form-group">
                                            <label>Answer Option Type</label>
                                            <select asp-for="additionalQuestion.answerOptionType" class="form-control">
                                                <option>-</option>
                                                <option>textarea</option>
                                                <option>radio</option>
                                                <option>checkbox</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section text-center">
                        <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                    </div>
                    @Html.HiddenFor(a => a.id)

                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Time Slot Modal -->

<div class="modal inmodal fade" id="edit_time_slot" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>

            <div class="modal-content-replace">

            </div>

        </div>

    </div>

</div>
