@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@model INYTWebsite.CustomModels.ServiceProviderModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AppSettings = appSettings.Value;
    var ddlTrades = ViewData["Services"] as List<SelectListItem>;
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-3 theiaStickySidebar">

                <!-- Profile Sidebar -->
                @{
                    await Html.RenderPartialAsync("SPSideBar", Model);
                }
                <!-- /Profile Sidebar -->


            </div>

            <div class="col-md-9 col-lg-9 col-xl-9">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card dash-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-4">
                                        <div class="dash-widget dct-border-rht">
                                            <div class="circle-bar circle-bar1">
                                                <div class="circle-graph1" data-percent="75">
                                                    <img src="~/images/testimonails2.png" class="img-fluid" alt="Customer">                                                    
                                                </div>
                                            </div>
                                            <div class="dash-widget-info">
                                                <h6>Total Customers</h6>
                                                <h3>@Model.totalCustomers</h3>
                                                <p class="text-muted">Till Today</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-4">
                                        <div class="dash-widget dct-border-rht">
                                            <div class="circle-bar circle-bar2">
                                                <div class="circle-graph2" data-percent="65">
                                                    <img src="~/images/testimonails2.png" class="img-fluid" alt="Customer">
                                                </div>
                                            </div>
                                            <div class="dash-widget-info">
                                                <h6>Customers today</h6>
                                                <h3>@Model.totalCustomersToday</h3>
                                                <p class="text-muted">@DateTime.Now.ToShortDateString()</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-4">
                                        <div class="dash-widget">
                                            <div class="circle-bar circle-bar3">
                                                <div class="circle-graph3" data-percent="50">
                                                    <img src="~/images/testimonails2.png" class="img-fluid" alt="Customer">
                                                </div>
                                            </div>
                                            <div class="dash-widget-info">
                                                <h6>Upcoming Bookings</h6>
                                                <h3>@Model.totalNewBookings</h3>
                                                <p class="text-muted">@DateTime.Now.ToShortDateString()</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4><strong>Upcoming Customer Bookings</strong></h4>
                        <div class="appointment-tab">

                            @if (Model.bookings.Where(a => a.bookingDate >= DateTime.Now).Count() > 0)
                            {
                                <!-- Upcoming Customer Bookings Table -->
                                <div class="table-responsive table-primary">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Customer Name</th>
                                                <th>Booking Date</th>
                                                <th>Purpose</th>
                                                <th>Type</th>
                                                <th class="text-center">Paid Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var booking in Model.bookings.Where(a => a.bookingDate >= DateTime.Now))
                                            {
                                                <tr>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="Customer-profile.html">@booking.customer.firstName @booking.customer.lastName <span>#C100 @booking.customer.id</span></a>
                                                        </h2>
                                                    </td>
                                                    <td>@booking.bookingDate.ToLongDateString() <span class="d-block text-info">@booking.bookingTime.ToShortTimeString() </span></td>
                                                    <td>@booking.selectedService</td>
                                                    <td>New Customer</td>
                                                    <td class="text-center">£@booking.bookingAmount</td>                                                    
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /Upcoming Appointment Tab -->
                            }
                            else
                            {
                                <p>No future bookings found</p>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<!-- /Page Content -->
<!-- Sticky Sidebar JS -->
