@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@model INYTWebsite.CustomModels.ServiceProviderModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AppSettings = appSettings.Value;
    var ddlTrades = ViewData["Services"] as List<SelectListItem>;
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-3 theiaStickySidebar">

                <!-- Profile Sidebar -->
                @{
                    await Html.RenderPartialAsync("SPSideBar", Model);
                }
                <!-- /Profile Sidebar -->

            </div>

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card card-table">
                    <div class="card-body">

                        <!-- Invoice Table -->
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Job Details</th>
                                        <th>Rating</th>
                                        <th>Feedback</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var rating in Model.ratings)
                                    {
                                        <tr>
                                            <td>@rating.customer.firstName @rating.customer.lastName</td>
                                            <td>@rating.booking.bookingDate.ToShortDateString() @rating.booking.bookingTime.ToShortTimeString() (@rating.booking.bookingReference)</td>
                                            <td>
                                                <div class="rating">
                                                    @for (int i = 0; i < Math.Round(Convert.ToDouble(rating.ratings), 0); i++)
                                                    {
                                                        <i class="fa fa-star filled"></i>
                                                    }                                                    
                                                </div>
                                            </td>
                                            <td>@rating.ratingComments</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /Invoice Table -->

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /Page Content -->
<!-- Sticky Sidebar JS -->
