@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@model INYTWebsite.CustomModels.ServiceProviderModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AppSettings = appSettings.Value;
    var ddlTrades = ViewData["Services"] as List<SelectListItem>;
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-3 theiaStickySidebar">

                <!-- Profile Sidebar -->
                @{
                    await Html.RenderPartialAsync("SPSideBar", Model);
                }
                <!-- /Profile Sidebar -->

            </div>

            <div class="col-md-7 col-lg-8 col-xl-9">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Schedule Timings</h4>
                                <div class="profile-box">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card schedule-widget mb-0">

                                                <!-- Schedule Header -->
                                                <div class="schedule-header">

                                                    <!-- Schedule Nav -->
                                                    <div class="schedule-nav">
                                                        <ul class="nav nav-tabs nav-justified">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" data-toggle="tab" href="#slot_Sunday">Sunday</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab" href="#slot_Monday">Monday</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab" href="#slot_Tuesday">Tuesday</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab" href="#slot_Wednesday">Wednesday</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab" href="#slot_Thursday">Thursday</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab" href="#slot_Friday">Friday</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab" href="#slot_Saturday">Saturday</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!-- /Schedule Nav -->
                                                </div>
                                                <!-- /Schedule Header -->
                                                <!-- Schedule Content -->
                                                <div class="tab-content schedule-cont">

                                                    <div id="slot_Sunday" role="tabpanel" class="tab-pane fade show active">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Slot Time</th>
                                                                    <th>Minimum hours</th>
                                                                    <th>Minimum rate</th>
                                                                    <th>Break time</th>
                                                                    <th>Rate for Additional hour</th>
                                                                    <th>
                                                                        <a class="edit-link" data-toggle="modal" data-dayofweek="Sunday"
                                                                           href="#add_time_slot"><i class="fa fa-plus-circle"></i>Add Slot</a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var slot in Model.slots.Where(a => a.dayOfWeek == "Sunday"))
                                                                {
                                                                <tr>
                                                                    <td>@slot.startTime.ToShortTimeString() - @slot.endTime.ToShortTimeString()</td>
                                                                    <td>@slot.minimumHours</td>
                                                                    <td>@slot.minimumRate</td>
                                                                    <td>@slot.breakTimeInMins</td>
                                                                    <td>@slot.rateForAdditionalHour</td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal" data-url="@Url.Action("EditSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-edit"></i></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-toggle="modal" data-url="@Url.Action("DeleteSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-trash"></i></a>
                                                                    </td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div id="slot_Monday" role="tabpanel" class="tab-pane fade">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Slot Time</th>
                                                                    <th>Minimum hours</th>
                                                                    <th>Minimum rate</th>
                                                                    <th>Break time</th>
                                                                    <th>Rate for Additional hour</th>
                                                                    <th colspan="2">
                                                                        <a class="edit-link" data-toggle="modal" data-dayofweek="Monday"
                                                                           href="#add_time_slot"><i class="fa fa-plus-circle"></i>Add Slot</a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var slot in Model.slots.Where(a => a.dayOfWeek == "Monday"))
                                                                {
                                                                    <tr>
                                                                        <td>@slot.startTime.ToShortTimeString() - @slot.endTime.ToShortTimeString()</td>
                                                                        <td>@slot.minimumHours</td>
                                                                        <td>@slot.minimumRate</td>
                                                                        <td>@slot.breakTimeInMins</td>
                                                                        <td>@slot.rateForAdditionalHour</td>
                                                                        <td>
                                                                            <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal" data-url="@Url.Action("EditSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-edit"></i></a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" class="edit-link" data-toggle="modal" data-url="@Url.Action("DeleteSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-trash"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div id="slot_Tuesday" role="tabpanel" class="tab-pane fade">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Slot Time</th>
                                                                    <th>Minimum hours</th>
                                                                    <th>Minimum rate</th>
                                                                    <th>Break time</th>
                                                                    <th>Rate for Additional hour</th>
                                                                    <th>
                                                                        <a class="edit-link" data-toggle="modal" data-dayofweek="Tuesday"
                                                                           href="#add_time_slot"><i class="fa fa-plus-circle"></i>Add Slot</a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var slot in Model.slots.Where(a => a.dayOfWeek == "Tuesday"))
                                                                {
                                                                <tr>
                                                                    <td>@slot.startTime.ToShortTimeString() - @slot.endTime.ToShortTimeString()</td>
                                                                    <td>@slot.minimumHours</td>
                                                                    <td>@slot.minimumRate</td>
                                                                    <td>@slot.breakTimeInMins</td>
                                                                    <td>@slot.rateForAdditionalHour</td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal" data-url="@Url.Action("EditSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-edit"></i></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-toggle="modal" data-url="@Url.Action("DeleteSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-trash"></i></a>
                                                                    </td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div id="slot_Wednesday" role="tabpanel" class="tab-pane fade">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Slot Time</th>
                                                                    <th>Minimum hours</th>
                                                                    <th>Minimum rate</th>
                                                                    <th>Break time</th>
                                                                    <th>Rate for Additional hour</th>
                                                                    <th>
                                                                        <a class="edit-link" data-toggle="modal" data-dayofweek="Wednesday"
                                                                           href="#add_time_slot"><i class="fa fa-plus-circle"></i>Add Slot</a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var slot in Model.slots.Where(a => a.dayOfWeek == "Wednesday"))
                                                                {
                                                                <tr>
                                                                    <td>@slot.startTime.ToShortTimeString() - @slot.endTime.ToShortTimeString()</td>
                                                                    <td>@slot.minimumHours</td>
                                                                    <td>@slot.minimumRate</td>
                                                                    <td>@slot.breakTimeInMins</td>
                                                                    <td>@slot.rateForAdditionalHour</td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal" data-url="@Url.Action("EditSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-edit"></i></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-toggle="modal" data-url="@Url.Action("DeleteSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-trash"></i></a>
                                                                    </td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div id="slot_Thursday" role="tabpanel" class="tab-pane fade">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Slot Time</th>
                                                                    <th>Minimum hours</th>
                                                                    <th>Minimum rate</th>
                                                                    <th>Break time</th>
                                                                    <th>Rate for Additional hour</th>
                                                                    <th>
                                                                        <a class="edit-link" data-toggle="modal" data-dayofweek="Thursday"
                                                                           href="#add_time_slot"><i class="fa fa-plus-circle"></i>Add Slot</a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var slot in Model.slots.Where(a => a.dayOfWeek == "Thursday"))
                                                                {
                                                                <tr>
                                                                    <td>@slot.startTime.ToShortTimeString() - @slot.endTime.ToShortTimeString()</td>
                                                                    <td>@slot.minimumHours</td>
                                                                    <td>@slot.minimumRate</td>
                                                                    <td>@slot.breakTimeInMins</td>
                                                                    <td>@slot.rateForAdditionalHour</td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal" data-url="@Url.Action("EditSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-edit"></i></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-toggle="modal" data-url="@Url.Action("DeleteSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-trash"></i></a>
                                                                    </td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div id="slot_Friday" role="tabpanel" class="tab-pane fade">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Slot Time</th>
                                                                    <th>Minimum hours</th>
                                                                    <th>Minimum rate</th>
                                                                    <th>Break time</th>
                                                                    <th>Rate for Additional hour</th>
                                                                    <th valign="middle" align="center">
                                                                        <a class="edit-link" data-toggle="modal" data-dayofweek="Friday"
                                                                           href="#add_time_slot"><i class="fa fa-plus-circle"></i>Add Slot</a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var slot in Model.slots.Where(a => a.dayOfWeek == "Friday"))
                                                                {
                                                                <tr>
                                                                    <td>@slot.startTime.ToShortTimeString() - @slot.endTime.ToShortTimeString()</td>
                                                                    <td>@slot.minimumHours</td>
                                                                    <td>@slot.minimumRate</td>
                                                                    <td>@slot.breakTimeInMins</td>
                                                                    <td>@slot.rateForAdditionalHour</td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal" data-url="@Url.Action("EditSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-edit"></i></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-toggle="modal" data-url="@Url.Action("DeleteSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-trash"></i></a>
                                                                    </td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div id="slot_Saturday" role="tabpanel" class="tab-pane fade">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Slot Time</th>
                                                                    <th>Minimum hours</th>
                                                                    <th>Minimum rate</th>
                                                                    <th>Break time</th>
                                                                    <th>Rate for Additional hour</th>
                                                                    <th>
                                                                        <a class="edit-link"
                                                                           data-toggle="modal" data-dayofweek="Saturday"
                                                                           href="#add_time_slot"><i class="fa fa-plus-circle"></i>Add Slot</a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var slot in Model.slots.Where(a => a.dayOfWeek == "Saturday"))
                                                                {
                                                                <tr>
                                                                    <td>@slot.startTime.ToShortTimeString() - @slot.endTime.ToShortTimeString()</td>
                                                                    <td>@slot.minimumHours</td>
                                                                    <td>@slot.minimumRate</td>
                                                                    <td>@slot.breakTimeInMins</td>
                                                                    <td>@slot.rateForAdditionalHour</td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal" data-url="@Url.Action("EditSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-edit"></i></a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="#" class="edit-link" data-toggle="modal" data-url="@Url.Action("DeleteSchedule", "ServiceProvider", new { id = slot.id.ToString() })"><i class="fa fa-trash"></i></a>
                                                                    </td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                                <!-- /Schedule Content -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

</div>

<!-- Add Time Slot Modal -->
<div class="modal fade custom-modal" id="add_time_slot">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Time Slots</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="addschedule" asp-controller="serviceprovider" method="post">
                    <div class="hours-info">
                        <div class="row form-row hours-cont">
                            <div class="col-12 col-md-10">
                                <div class="row form-row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Day of week</label>
                                            <input id="dayofweek" name="dayofweek" type="text" class="form-control"
                                                   placeholder="Day of week">
                                        </div>
                                        <div class="form-group">
                                            <label>Minimum Hours</label>
                                            <select asp-for="newslot.minimumHours" class="form-control">
                                                <option>-</option>
                                                <option>1 hr</option>
                                                <option>2 hrs</option>
                                                <option>0.5 day</option>
                                                <option>1 day</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Break / Commute time (between jobs - in mins)</label>
                                            <input asp-for="newslot.breakTimeInMins" type="text" class="form-control" placeholder="Break time" />
                                        </div>
                                        <div class="form-group">
                                            <label>Minimum rate</label>
                                            <input asp-for="newslot.minimumRate" type="text" class="form-control" placeholder="Min rate">
                                        </div>
                                        <div class="form-group">
                                            <label>Rate for every additional hour</label>
                                            <input asp-for="newslot.rateForAdditionalHour" type="text" class="form-control" placeholder="Min rate">
                                        </div>
                                        <div class="form-group">
                                            <label>Start Time</label>
                                            <select asp-for="newslot.startTime" class="form-control">
                                                <option>-</option>
                                                <option>6AM</option>
                                                <option>7AM</option>
                                                <option>8AM</option>
                                                <option>9AM</option>
                                                <option>10AM</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Finish Time</label>
                                            <select asp-for="newslot.endTime" class="form-control">
                                                <option>-</option>
                                                <option>5PM</option>
                                                <option>6PM</option>
                                                <option>7PM</option>
                                                <option>8PM</option>
                                                <option>9PM</option>
                                                <option>10PM</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section text-center">
                        <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                    </div>
                    @Html.HiddenFor(a => a.id)

                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Time Slot Modal -->

<div class="modal inmodal fade" id="edit_time_slot" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>

            <div class="modal-content-replace">

            </div>

        </div>

    </div>

</div>

    <!-- /Page Content -->
    <!-- Sticky Sidebar JS -->
    