@model List<INYTWebsite.CustomModels.ServiceProviderModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">You searched for <u>@ViewData["service"]</u> in <u>@ViewData["postcode"]</u>. We found @ViewData["spCount"] matching search results</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-9">
                @foreach (var sp in Model)
                {
                    <!-- Service Provider Widget -->
                    <div class="card">
                        <div class="card-body">
                            <div class="doctor-widget">
                                <div class="doc-info-left">
                                    <div class="doctor-img">
                                        <a href="doctor-profile.html">
                                            <img src="~/images/testicon.svg" class="img-fluid" alt="User Image">
                                        </a>
                                    </div>
                                    <div class="doc-info-cont">
                                        <h4 class="doc-name">
                                            <a href="#" class="edit-link" data-target="#edit_time_slot" data-toggle="modal"
                                               data-url="@Url.Action("Ratings", "BookService", new { id = sp.id.ToString() })">
                                                @sp.firstName @sp.lastName
                                            </a>
                                        </h4>
                                        <p class="doc-speciality">@sp.service</p>
                                        @if (sp.ratings.Count > 0)
                                        {
                                            <div class="rating" id="rating">
                                                @for (int i = 0; i < Math.Round(sp.rating, 0); i++)
                                                {

                                                    <i class="fa fa-star filled"></i>

                                                }
                                                <span class="d-inline-block average-rating">(@sp.ratings.Count())</span>
                                            </div>
                                        }
                                        <div class="clinic-details">
                                            <p class="doc-location"><i class="fa fa-map-marker-alt"></i> @sp.postcode</p>
                                            <p>@sp.distanceinmiles away</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="doc-info-right">
                                    <div class="clinic-booking">
                                        @Html.ActionLink("Book", "Index", "BookService", new { id = sp.id, postcode = ViewData["postcode"] }, new { @class = "apt-btn" })
                                    </div>
                                </div>
                            </div>
                            <!-- /Service Provider Widget -->
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</div>
<!-- /Page Content -->

<div class="modal inmodal fade" id="edit_time_slot" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>

            <div class="modal-content-replace">

            </div>

        </div>

    </div>

</div>