@model List<INYTWebsite.Models.ServiceProviderModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Section Start-->
<section id="What_offer">
    <div class="container text-center">
        <h1 class="panel-heading">You searched for <u>@ViewData["trade"]</u> in <u>@ViewData["postcode"]</u>. We found @ViewData["spCount"] matching search results</h1>
        <div class="row text-left">
            @foreach (var sp in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="icon_box_one">
                        <div class="img-holder text-center"><img src="~/images/testicon.svg" class="img-circle height-15-per" alt="Card image"></div>
                        <div class="box_content">
                            <h4>@sp.firstName @sp.lastName</h4>
                            @for (int i = 0; i < sp.rating; i++)
                            {
                                <img src="~/images/star-on.svg" alt="">
                            }
                            @if ((5 - (sp.rating)) > 0)
                            {
                                int offStars = 5 - sp.rating;
                                for (int j = 0; j < offStars; j++)
                                {
                                    <img src="~/images/star-off.svg" alt="">
                                }
                            }
                            <p>This service provider lives @sp.distanceinmiles away</p>
                            @Html.ActionLink("View Profile", "Profile", "Trades", new { id = sp.id }, new { @class = "btn btn-primary", @style = "color:white" })
                            @Html.ActionLink("Book", "Index", "BookService", new { id = sp.id, postcode=ViewData["postcode"] }, new { @class = "btn btn-primary", @style = "color:white" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--Section End-->

@section Scripts {
    <script>
        $('#theModal').on('show.bs.modal', function (e) {

            var button = $(e.relatedTarget);
            var modal = $(this);

            // load content from HTML string
            //modal.find('.modal-body').html("Nice modal body baby...");

            // or, load content from value of data-remote url
            modal.find('.modal-body').load(button.data("remote"));

        });
    </script>
}